* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #9792e4;
    --secondary: #0084fd;
    --light: #ffffff;
    --dark: #333333;
}

section, .demo {
    padding: 2rem 0;
}


/* regionDEBUG */

/* .debug #side_header {
    height: 70px;
} */

.debug .image {
    background-color: orange;
    height: 10px;
}

.debug [class^="col_"]
{
    height: 300px;
    border: 1px dashed;
}

.debug .section_heading,
.testimonial {
    height: 140px;
    border: 1px dashed black;
    background-color: orange;
    padding: 1rem 0;
}


.debug .col_12, .col_lg_8 {
    background-color: red;
}


/* #endregionDEBUG */



/* regionUtilities */

.container {
    width: 80%;
    max-width: 1152px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}


.col_1 {
    width: calc(100% / 12 * 1);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: 50%;
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: 100%;
}


/*#endregionUtilities */


/* Responsive Layout */

@media screen and (min-width: 768px) {
    .col_md_1 {
        width: calc(100% / 12 * 1);
    }
    
    .col_md_2 {
        width: calc(100% / 12 * 2);
    }
    
    .col_md_3 {
        width: calc(100% / 12 * 3);
    }
    
    .col_md_4 {
        width: calc(100% / 12 * 4);
    }
    
    .col_md_5 {
        width: calc(100% / 12 * 5);
    }
    
    .col_md_6 {
        width: 50%;
    }
    
    .col_md_7 {
        width: calc(100% / 12 * 7);
    }
    
    .col_md_8 {
        width: calc(100% / 12 * 8);
    }
    
    .col_md_9 {
        width: calc(100% / 12 * 9);
    }
    
    .col_md_10 {
        width: calc(100% / 12 * 10);
    }
    
    .col_md_11 {
        width: calc(100% / 12 * 11);
    }
    
    .col_md_12 {
        width: 100%;
    }

}
/* #end Responsive Layout */


/* Responsive Layout 1200 */
@media screen and (min-width: 1200px) {
    .col_lg_1 {
        width: calc(100% / 12 * 1);
    }
    
    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }
    
    .col_lg_3 {
        width: calc(100% / 12 * 3);
    }
    
    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }
    
    .col_lg_5 {
        width: calc(100% / 12 * 5);
    }
    
    .col_lg_6 {
        width: 50%;
    }
    
    .col_lg_7 {
        width: calc(100% / 12 * 7);
    }
    
    .col_lg_8 {
        width: calc(100% / 12 * 8);
    }
    
    .col_lg_9 {
        width: calc(100% / 12 * 9);
    }
    
    .col_lg_10 {
        width: calc(100% / 12 * 10);
    }
    
    .col_lg_11 {
        width: calc(100% / 12 * 11);
    }
    
    .col_lg_12 {
        width: 100%;
    }

}
/* #end Responsive Layout 1200 */


/* HEADER */

#side_header {
    background-color: var(--secondary);
}



/* MAIN */

.planning, .benefits {
    background-color: #9792e4;
}